<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="VladaSasunov_CaseStudyAdminUi">
        <sequence>
            <module name="VladaSasunov_CaseStudy"/>
            <module name="VladaSasunov_CaseStudyApi"/>
        </sequence>
    </module>
</config>
